@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
    --headings-color: #3A3A3A;
    --paragraph-color: #787885;
    --button-color: #E02C6D;
    --default-font-family: Poppins;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
}

/* primary styles */
/* body{
    width: 1440px;
    margin: 0 auto;
} */

/* nav bar styles */
.nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 120px;
    align-items: center;

}

.nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav a {
    text-decoration: none;
}

.nav h3 {
    color: var(--paragraph-color);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.5rem;
    font-weight: 700;
    white-space: nowrap;
}

.nav li * {
    color: var(--paragraph-color);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* banner styles */
.banner-container {
    display: flex;
    margin: 0 130px;
    justify-content: space-between;
    align-items: center;
}
.header-texts *{
    margin: 10px 0;
    max-width: 600px;
}

.banner-text h3 {
    color: var(--headings-color);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
    /* 134.615% */
}

.banner-container p {
    color: var(--paragraph-color);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-weight: 600;
}

.banner-container button {
    border-radius: 41px;
    background: var(--button-color);
    border: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    padding: 5px 40px;
    white-space: nowrap;

}

.header-img{
    background: url('../images/Circle-design.svg');
    background-repeat: no-repeat;
}

/* media queries */
@media screen and (max-width:576px) {
    .nav,
    .banner-container
    {
        flex-direction: column-reverse;
    }
    .nav{
        margin: 10px;
    }
    .nav ul{
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 10px;
    }
    .nav h3{
        margin-bottom: 20px;
        font-size: 1.3rem;
        color: var(--headings-color);
    }

    .header-img img{
        width: 100%;
    }
    .header-texts{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 30px;
    }
    .banner-container{
        margin: 0;
    }
   
}
@media screen and (min-width: 576px) and (max-width: 960px) {
    .nav,
    .banner-container
    {
        flex-direction: column-reverse;
    }
    .nav{
        margin: 10px;
    }
    .nav ul{
        flex-wrap: wrap;
        gap: 50px;
        margin-bottom: 10px;
    }
    .nav h3{
        margin-bottom: 30px;
        font-size: 1.3rem;
        color: var(--headings-color);
    }
    .header-img img{
        width: 100%;
    }
    .header-img{
        margin-bottom: 40px;
    }
 
}